/*! VARIABLE */
:root {
  --q-primary: #2eba77;
  --q-primary-secondary: #2eba771a;
  --q-secondary: #868788;
  --q-secondary-help: #797a7c;
  --q-accent: #2021248a;
  --q-positive: #21ba4594;
  --q-negative: red;
  --q-info: #e0e0e0;
  --q-warning: #f2c037;
  --q-dark: #1d1d1d;
  --q-dark-page: #1d1d1d;

  --br: 8px;
  --scrollbar-color: #808080;
  --scrollbar-hover-color: #444444;
}

/*! SCROLLBAR */
/* Стилізуємо сам скрол */
::-webkit-scrollbar {
  /* Ширина скролу */
  width: var(--br);
  /* Висота скролу */
  height: var(--br);
}

/* Стилізуємо трек (фон скролу) */
::-webkit-scrollbar-track {
  /* Робимо трек прозорим */
  background: transparent;
}

/* Стилізуємо повзунок (thumb) */
::-webkit-scrollbar-thumb {
  /* Колір повзунка */
  background-color: var(--scrollbar-color);
  /* Закруглені краї повзунка */
  border-radius: var(--br);
  @include transition();
  /* Додатково: якщо потрібен ефект при наведенні */
  @include hover() {
    /* Колір повзунка при наведенні */
    background-color: var(--scrollbar-hover-color);
    cursor: grab;
  }
}

/* Зробити кутовий квадрат прозорим */
::-webkit-scrollbar-corner {
  background-color: transparent;
}

  .text-red {
    color: #cf5a75;
  }
  .text-green {
    color: #30a68a;
  }
  .text-gray {
    color: #999;
  }